<?xml version="1.0" encoding="UTF-8"?>
<!-- 제우스8 servlet 버전 3.1 을 맞추기 위해 변경
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- spring security filter -->
   <filter>
       <filter-name>springSecurityFilterChain</filter-name>
       <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>
   <filter-mapping>
       <filter-name>springSecurityFilterChain</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>
    
    <!--  전자정부 HTMLTagFilter 필터
	<filter>
		<filter-name>HTMLTagFilter</filter-name>
		<filter-class>org.egovframe.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> -->
	
	<!-- 필터 등록 -->
    <!--
    <filter>
        <filter-name>testFilter</filter-name>
        <filter-class>com.kin.app.testFilter</filter-class>
    </filter> 
    -->

    <!-- 필터 매핑 -->
    <!--
    <filter-mapping>
        <filter-name>testFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
  	-->
  	
  <!-- root context -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/*-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- dispatcher servlet -->
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/*-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  	<!-- HTTP Status 코드에 따른 에러페이지 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/appViews/error/exceptionError.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/appViews/error/exceptionError.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/appViews/error/exceptionError.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/appViews/error/exceptionError.jsp</location>
	</error-page>
	
	<!-- 컨트롤러도 됨.
	<error-page>
		<error-code>404</error-code>
		<location>/error/exceptionError.do</location>
	</error-page>
	-->
	
	<!--  예외타입을 통한 에러 페이지 -->
	<!-- 
	<error-page>
        <exception-type>kro.rubisco.config.TestException</exception-type>
        <location>/appViews/error/exceptionError.jsp</location>
    </error-page>
  	-->
  
  
</web-app>